/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

body 
{   
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0;
}

main
{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 12;
    background-color: black;

    display: grid;                  /* transforme main en grille interne */
    grid-template-columns: 1fr 1fr; /* 2 colonnes : gauche 1/3, droite 2/3 */

}

main .left
{
    display: flex;             /* active Flexbox */
    justify-content: center;   /* centre horizontalement */
    align-items: center;  
    background-color: green;

}
main .right
{
    background-color: red;
}


footer
{   
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 12;
    grid-row-end: 13;
    background-color: blue;

}