/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body 
{   
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0;
    background-color:#fafafa ;
}

main
{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 12;
    display: grid;                  /* transforme main en grille interne */
    grid-template-columns: 1fr 1fr; /* 2 colonnes : gauche 1/3, droite 2/3 */
}

main img
{
    max-width: 100%;      /* l'image ne dépasse jamais de .left */
    max-height: 100%;     /* l'image ne dépasse jamais en hauteur */
    object-fit: contain;  /* garde les proportions */
}

main .left
{
    max-width: 100%;   /* l'image ne dépasse jamais de .left */
    max-height: 100%;  /* l'image ne dépasse jamais en hauteur */
    object-fit: contain; /* garde les proportions */    display: flex;             /* active Flexbox */
    justify-content: center;   /* centre horizontalement */
    align-items: center;  

}

/*Top*/

main .right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   /* centre horizontalement */

}

main .top
{
    max-width: 100%;  /* ne dépasse jamais la largeur du conteneur */
    display: flex;
    flex-direction: column;
    background: white;
    padding: 40px;
    border: 1px solid #dbdbdb;
    max-width: 550px;
}

main .bottom
{
    max-width: 100%;  /* ne dépasse jamais la largeur du conteneur */
    display: flex;
    flex-direction: column;
}

footer
{   
    display: flex;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 12;
    grid-row-end: 13;
    justify-content: center;
    align-items: center;
}

.bottom a {
    color: #5063F9;
    font-weight: 600;
    text-decoration: none;
}

.bottom p
{
    text-align: center;
    margin-bottom: 8px;
}

.right input
{
    width: 100%;
    padding: 9px 0 7px 8px;
    margin-bottom: 6px;
    border: 1px solid #dbdbdb; 
    border-radius: 3px; 
    outline: none; 
}

.right button
{
    width: 100%;
    padding: 7px 16px;
    margin-top: 8px;
    font-weight: 600;
    color: white;
    background: #828FFA;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

footer a
{
    color: #5063F9;
    text-decoration: none;
}