nav
{
    display :flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 12;
    border-right: 1px solid #dbdbdb; 
    gap: 10px;
}

nav img.logo
{
    width: 300px;      /* l'image ne dépasse jamais de .left */
    height: 150px;     /* l'image ne dépasse jamais en hauteur */
    object-fit: contain;  /* garde les proportions */
    transform: translatex(-30px);
}

nav img.icon
{
    margin-left: 30px;
    margin-right: 20px;
}

nav img.icon.home
{
    width: 26px;
    height: 26px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-4px);
}

nav img.icon.search
{
    width: 25px;
    height: 25px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-1px);
}

nav img.icon.explore
{
    width: 25px;
    height: 25px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-1px);
}

nav img.icon.notifications
{
    width: 25px;
    height: 25px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-1px);
}

nav img.icon.create
{
    width: 30px;
    height: 30px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-3px);
}



nav img.icon.profile
{
    width: 35px;
    height: 35px;
    transform: translateY(-2px);
}

img.home.icon.black 
{
    display: none;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 45px;
    height: 45px;
    object-fit: contain;
    transform: translateX(-9px);
}

span.icon.home
{
  transform: translateX(-4px);
}

span.icon.profile
{
  transform: translate(-7px, -1px);
}

span.icon.search
{
  transform: translateX(-2px);
}

span.icon.create
{
  transform: translateX(-3px);
}


nav ul
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
    width: 100%;
}

nav li
{
    display: flex;
    list-style-type: none;
    font-weight: 500;
    width: 100%;
}


nav a
{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
    align-items: center;
    width: 100%;
}

main 
{
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 12;
}

.corner
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 13;
    border-right: 1px solid #dbdbdb; 
}

@media (max-width: 1439px) 
{
    .logo
    {
        display: none;
    }

    img.home.icon.black 
    {
        display: block;
    }

    nav
    {
        width: 107px;
    }

    span.icon
    {
        display: none;
    }

    .corner
    {
        width: 107px;
    }

}

@media (max-width: 620px) 
{
    nav 
    {
        display: none;
    }

    .corner
    {
        display: none;
    }
}