nav
{
    display :flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 12;
    border-right: 1px solid #dbdbdb; 
    gap: 10px;
}

nav img.logo
{
    max-width: 300px;      /* l'image ne dépasse jamais de .left */
    max-height: 300px;     /* l'image ne dépasse jamais en hauteur */
    object-fit: contain;  /* garde les proportions */
    transform: translatex(-20px);
}

nav img.icon
{
    margin-left: 30px;
    margin-right: 20px;
    max-width: 60px;      /* l'image ne dépasse jamais de .left */
    max-height: 60px;     /* l'image ne dépasse jamais en hauteur */
    object-fit: contain;  /* garde les proportions */
}


nav ul
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
    width: 100%;
}

nav li
{
    display: flex;
    list-style-type: none;
    font-weight: 500;
    width: 100%;
}


nav a
{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 27px;
    align-items: center;
    width: 100%;
}

main 
{
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 12;
}

.corner
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 13;
    border-right: 1px solid #dbdbdb; 
}
