
nav
{
    display :flex;
    flex-direction: column;
    width: 338px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 12;
    border-right: 1px solid #dbdbdb; 
}

nav img.logo
{
    width: 200px;      /* l'image ne dépasse jamais de .left */
    height: 150px;     /* l'image ne dépasse jamais en hauteur */
    object-fit: contain;  /* garde les proportions */
    transform: translatex(-5px);
}

nav img.icon.home
{
    width: 26px;
    height: 26px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-4px);
}

nav img.icon.search
{
    width: 25px;
    height: 25px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-1px);
}

nav img.icon.explore
{
    width: 25px;
    height: 25px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-1px);
}

nav img.icon.notifications
{
    width: 25px;
    height: 25px;
    object-fit: contain;  /* garde les proportions */
    transform: translateY(-1px);
}

nav img.icon.create
{
    width: 30px;
    height: 30px;
    object-fit: contain;  /* garde les proportions */
    transform: translate(-1px, -3px);
}


nav img.icon.profile
{
    width: 35px;
    height: 35px;
    transform: translate(-2px, -3px);
}

img.home.icon.black 
{
    display: none;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    width: 45px;
    height: 45px;
    object-fit: contain;
    transform: translate(-9px, -3px);

}

span.icon.home
{
    transform: translateY(-3px);
}


span.icon.create
{
    transform: translate(-5px , -1px);
}

span.icon.nav
{
    margin-left: 15px;
}

span.icon.profile
{
    transform : translateX(-8px)
}


nav ul
{
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style-type: none;
    width: 100%;
    transform: translateY(2px);
}

nav li
{
    display: inline-flex;
    list-style-type: none;
    font-weight: 500;
    width: 100%;
    
}

nav a {
    display: flex;  /* Changez inline-flex en flex */
    text-decoration: none;
    color: black;
    font-size: 16px;
    align-items: center;
    width: 100%;  /* Changez auto en 100% */
    pointer-events: none;  /* Gardez ça */
}

.link-area {
    display: flex;
    align-items: center;
    pointer-events: auto;  /* IMPORTANT : réactive les clics */
    border-radius: 8px;
    cursor: pointer;  /* Affiche le curseur main */
    margin-left: 30px;  /* AJOUTEZ ceci */
}

.link-area.home 
{
    padding-top: 14px;
    padding-bottom: 5px;
    padding-right: 201px;
    padding-left: 10px;
}

.link-area.search
{
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 194px;
    padding-left: 10px;
}

.link-area.explore
{
    padding-top: 12px;
    padding-bottom: 10px;
    padding-right: 192px;
    padding-left: 10px;
}

.link-area.notifications
{
    padding-top: 14px;
    padding-bottom: 10px;
    padding-right: 159px;
    padding-left: 10px;
}

.link-area.create
{
    padding-top: 14px;
    padding-bottom: 8px;
    padding-right: 194px;
    padding-left: 10px;
}

.link-area.profile
{
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 191px;
    padding-left: 10px;
}



.link-area:hover,
.link-area-hamburger:hover
{
    background-color: #ececec;
}

main 
{
    height: 100%;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 12;
}

.corner
{
    display: flex;
    width: 338px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 13;
    border-right: 1px solid #dbdbdb;
    gap: 5px;
    z-index: 10;         /* s'assurer qu'il est au-dessus */
    align-items: center;  /* Centre le contenu dans .corner */
    padding: 10px 0;      /* Espace en haut et en bas */
}

img.icon.more
{
    width: 30px;
    height: 30px;
    object-fit: contain;  /* garde les proportions */
}

a.icon.more
{
    display: inline-flex;
    gap: 15px;
    text-decoration: none;
    width: auto;
    margin-left: 33px;
    border-radius: 8px; /* Optionnel : coins arrondis */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 200px;

}

span.icon.more
{
    transform: translateY(8px);
    color: black;
}

a.icon.more:hover {
    background-color: #ececec;  /* Optionnel */

}

div.hamburger
{
    display: none;
    position: absolute;
    bottom: 87px;
    left: 38px;
    width: 235px;
    height: 120px;
    border-radius: 13px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #fafafa;
}

div.hamburger ul
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    list-style-type: none;
}

div.hamburger li
{
    padding-top: 4px;
    padding-bottom: 2px;
}

div.hamburger a 
{
    text-decoration: none;
    color: black;
}


div.hamburger img.icon.report 
{
    width: 28px;
    height: 28px;
    object-fit: contain;
    /* transform: translateY(7px); */
}

.link-area-hamburger.report
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 5px;
    width: 224px;
    padding-left: 7px;
    padding-top: 15px;
    padding-bottom: 17px;
    border-radius: 13px;
    transform: translateY(2px);
}

.link-area-hamburger.logout
{
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 224px;
    padding-left: 53px;
    border-radius: 10px;
    transform: translateY(-6px);
}

div.report
{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 700px;
    height: 400px;
    background: red;
    border-radius: 20px;
}

div.report-title-cross
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:700px;
    height: 100px;
    background-color: blue;
    border-radius: 20px;
}

span.report-title-cross
{
    color: black;
    font-size: 25px;
    width: 300px;
}

@media (max-width: 1920px) 
{
    nav 
    {
        width: 245px;
    }
    .corner
    {
        width: 245px;
    }
    .link-area.home 
    {
        padding-right: 111px;
    }

    .link-area.search 
    {
        padding-right: 105px;
    }

    .link-area.explore 
    {
        padding-right: 102px;
    }
    
    .link-area.notifications 
    {
        padding-right: 68px;
    }

    .link-area.create 
    {
        padding-right: 102px;
    }

    .link-area.profile 
    {
        padding-right: 100px;
    }

    a.icon.more
    {
        padding-right: 110px;
    }
}

@media (max-width: 1439px) 
{
    .logo
    {
        display: none;
    }

    img.home.icon.black 
    {
        display: block;
    }

    nav
    {
        width: 107px;
    }

    span.icon
    {
        display: none;
    }

    .corner
    {
        width: 107px;
    }
       .link-area.home 
    {
        padding-right: 10px;
    }

    .link-area.search 
    {
        padding-right: 10px;
    }

    .link-area.explore 
    {
        padding-right: 10px;
    }
    
    .link-area.notifications 
    {
        padding-right: 10px;
    }

    .link-area.create 
    {
        padding-right: 10px;
    }

    .link-area.profile 
    {
        padding-right: 10px;
    }
 
    a.icon.more
    {
        padding-right: 11px;
    }
}

@media (max-width: 850px) 
{
    footer
    {
        display: none;
    }
}


@media (max-width: 620px) 
{
    nav 
    {
        display: none;
    }

    .corner
    {
        display: none;
    }
}

