footer
{   
    display: flex;
    grid-column-start: 1;
    grid-column-end: -1;  
    grid-row-start: 12;
    grid-row-end: -1;
    justify-content: center;
    align-items: center;
}

footer a
{
    color: #5063F9;
    text-decoration: none;
}

footer p
{
    font-size: 14px;
}