body {
    display: block !important; /* Force block au lieu de grid */
    grid-template-columns: unset !important;
    grid-template-rows: unset !important;
}


main 
{
    margin-left: 338px; /* Compenser la navbar fixe */
    min-height: 100vh;
    padding: 30px 20px 50px;
}


/* USER MENU */

.user-menu {
    position :fixed;
    right: 0px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    gap: 20px;
}

.username {
    font-weight: 700;
    color: #262626;
    font-size: 18px;
}

.fullname {
    font-weight: 400;
    color: #8e8e8e;
    font-size: 17px;
}

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #dbdbdb;
}

.UserName
{
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

/* USER MENU */


.gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 600px; /* Ajoutez une largeur max */
    margin: 0 auto; /* Centrer */
    padding-top: 30px;
}

.post-item {
    position: relative;
    width: 600px; /* Force une largeur fixe */
    height: 600px; 
    overflow: hidden;
    border-radius: 4px;
    background-color: #efefef;
    cursor: pointer;
}

.post-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit le carré sans déformer l'image */
    transition: transform 0.3s ease;
}


 