body {
    display: block !important; /* Force block au lieu de grid */
    grid-template-columns: unset !important;
    grid-template-rows: unset !important;
}


main 
{
    display: flex;
    justify-content: center;
}


/* USER MENU */

.user-menu {
    position :fixed;
    right: 0px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    margin-right: 20px;
    gap: 20px;
}

.username {
    font-weight: 700;
    color: #262626;
    font-size: 18px;
}

.fullname {
    font-weight: 400;
    color: #8e8e8e;
    font-size: 17px;
}

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #dbdbdb;
}

.UserName
{
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

/* USER MENU */

/* TOP */

.gallery-top 
{
    display: flex;
    width: 550px;
    align-items: center;
    height: 75px;
}




.post-user-info
{
    display: flex;
    margin-top: 3px;
}

.post-username
{
    font-weight: 600;
}


.post-username::after {
    content: "•";
    margin: 0 4px;
    color: #8e8e8e;
}


.post-date {
    color: #8e8e8e;
    font-size: 14px;
}


.post-user-avatar
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #dbdbdb;
    margin-left: 10px;

}

img.three-dots
{
    margin-left: auto;
    margin-right: 10px;
    margin-top: 3px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}


img.three-dots:hover {
    transform: scale(1.25);
    opacity: 0.85;
}

img.three-dots:active {
    transform: scale(1.1);
}


/* TOP */

.gallery-grid {
    display: flex;
    flex-direction: column;
    width: 600px; /* Ajoutez une largeur max */
}

.gallery-grid .gallery-top:first-child {
    margin-top: 20px; /* Ajustez la valeur selon vos besoins */
}



.post-item {
    position: relative;
    width: 550px;
    height: 600px; 
    overflow: hidden;
    border-radius: 4px;
    background-color: #efefef;
    cursor: pointer;
}

.post-item img {
    width: 550px;
    height: 600px; 
    object-fit: cover; /* Remplit le carré sans déformer l'image */
    transition: transform 0.3s ease;
}

/* BOTTOM */

.gallery-bottom 
{
    display: flex;
    flex-direction: column;
    width: 550px;
    margin-top: 12px;
    margin-bottom: 40px;
}

.post-actions
{
    display: flex;
    gap: 15px;
    margin-bottom: 12px;
    margin-left: 10px;
}


img.icon-like
{
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

img.icon-like:hover {
    transform: scale(1.1);
}

img.icon-like:active {
    transform: scale(0.9);
}



img.icon-comment
{
    margin-top: 1px;
    width: 27px;
    height: 27px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}


img.icon-comment:hover {
    transform: scale(1.1);
}

img.icon-comment:active {
    transform: scale(0.9);
}

div.caption-container
{
    margin-left: 10px;
    margin-right: 10px;

}

span.post-caption-username
{
    font-weight: bold;
    font-size: 16px;
}


.post-caption
{
    font-size: 15px;

}

.more-link
{
    text-decoration: none;
    font-size: 15px;
    color: #686868;
}

.more-link::before
{
    content: "...";
    color: black;
}


/* BOTTOM */


@media (max-width: 1050px) 
{
    .user-menu 
    {
        display: none;
    }
}
