main
{
    display: flex;
    justify-content: center;   /* centre horizontalement */
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 12;
    display: grid;                  /* transforme main en grille interne */
    grid-template-columns: 1fr 1fr; /* 2 colonnes : gauche 1/3, droite 2/3 */
}

main img
{
    max-width: 100%;      /* l'image ne dépasse jamais de .left */
    max-height: 100%;     /* l'image ne dépasse jamais en hauteur */
    object-fit: contain;  /* garde les proportions */
}

.index_left
{
    max-width: 100%;   /* l'image ne dépasse jamais de .left */
    max-height: 100%;  /* l'image ne dépasse jamais en hauteur */
    object-fit: contain; /* garde les proportions */    display: flex;             /* active Flexbox */
    justify-content: center;   /* centre horizontalement */
    align-items: center;  

}

.index_right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   /* centre horizontalement */
    border: 1px solid #dbdbdb;
    max-width: 550px;
    max-height: 550px;
    padding: 40px;
    background: white;
}

main .top
{
    max-width: 100%;  /* ne dépasse jamais la largeur du conteneur */
    display: flex;
    flex-direction: column;
}

main .bottom
{
    max-width: 100%;  /* ne dépasse jamais la largeur du conteneur */
    display: flex;
    flex-direction: column;
}

.bottom a {
    color: #5063F9;
    font-weight: 600;
    text-decoration: none;
}

.bottom p
{
    text-align: center;
    margin-bottom: 8px;
}

.index_right input
{
    width: 100%;
    padding: 9px 0 7px 8px;
    margin-bottom: 6px;
    border: 1px solid #dbdbdb; 
    border-radius: 3px; 
    outline: none; 
}

.index_right button
{
    width: 100%;
    padding: 7px 16px;
    margin-top: 8px;
    font-weight: 600;
    color: white;
    background: #828FFA;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
