main
{
    display: flex;
    justify-content: center;   /* centre horizontalement */
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 12;
}

main img
{
    max-width: 100%;      /* l'image ne dépasse jamais de .left */
    max-height: 100%;     /* l'image ne dépasse jamais en hauteur */
    object-fit: contain;  /* garde les proportions */
}

.index_left
{
    max-width: 100%;   /* l'image ne dépasse jamais de .left */
    max-height: 100%;  /* l'image ne dépasse jamais en hauteur */
    object-fit: contain; /* garde les proportions */    display: flex;             /* active Flexbox */
    justify-content: center;   /* centre horizontalement */
    align-items: center;  

}

.index_right
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   /* centre horizontalement */
    border: 1px solid #dbdbdb;
    width: 350px;
    max-height: 550px;
    padding: 40px;
    background: white;
}

main .top
{
    max-width: 100%;  /* ne dépasse jamais la largeur du conteneur */
    display: flex;
    flex-direction: column;
}

main .bottom
{
    max-width: 100%;  /* ne dépasse jamais la largeur du conteneur */
    display: flex;
    flex-direction: column;
}

.bottom a {
    color: #5063F9;
    font-weight: 600;
    text-decoration: none;
}

.bottom p
{
    text-align: center;
    margin-bottom: 8px;
}

.index_right input
{
    width: 100%;
    padding: 9px 0 7px 8px;
    margin-bottom: 6px;
    border: 1px solid #dbdbdb; 
    border-radius: 3px; 
    outline: none; 
}

.index_right button
{
    width: 100%;
    padding: 7px 16px;
    margin-top: 8px;
    font-weight: 600;
    color: white;
    background: #828FFA;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* OR delimitation */

.or 
{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.left.or
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border-bottom: 1px solid #ddd;
}

span.or
{
    padding: 0 10px; color: #666;
    font-weight: bold;
}

.right.or
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 950px) 
{
    .landing.img
    {
        display: none;
    }
}