.mobile-top-bar {
    display: none;
}

@media (max-width: 900px) {
    .mobile-top-bar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50px;
        background: #fafafa;
        align-items: center;
        justify-content: space-between;
        padding: 0 calc((100vw - 600px) / 2 + 10px);
        z-index: 200;
    }

    .mobile-top-bar a {
        display: flex;
        align-items: center;
    }

    .mobile-top-bar img {
        width: 28px;
        height: 28px;
    }

    body {
        padding-top: 50px;
    }
}

@media (max-width: 900px) and (min-width: 621px) {
    .mobile-top-bar {
        padding-left: calc((100vw - 665px) / 2);
        padding-right: calc((100vw - 560px) / 2);
    }
}

@media (max-width: 620px) {
    .mobile-top-bar {
        padding: 0 15px;
    }
    .mobile-top-bar .notification {
    margin-right: 5px;
}
}