.mobile-top-bar,
.mobile-bottom-bar {
    display: none;
}

@media (max-width: 900px) {
    .mobile-top-bar {
        display: flex;
        width: 100%;
        height: 50px;
        background: #fafafa;
        align-items: center;
        justify-content: space-between;
        padding: 0 calc((100vw - 600px) / 2 + 10px);
        z-index: 200;
    }

    .mobile-top-bar a {
        display: flex;
        align-items: center;
    }

    .mobile-top-bar img {
        width: 28px;
        height: 28px;
    }

    .mobile-bottom-bar {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50px;
        background: #fafafa;
        align-items: center;
        justify-content: space-around;
        border-top: 1px solid #dbdbdb;
        z-index: 200;
    }

    .mobile-bottom-bar a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .mobile-bottom-bar img {
        width: 24px;
        height: 24px;
    }

    .mobile-bottom-bar img.mobile-profile {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid #dbdbdb;
    }
    .gallery-grid::after {
        content: "";
        display: block;
        height: 50px;
    }
}

@media (max-width: 900px) and (min-width: 621px) {
    .mobile-top-bar {
        padding-left: calc((100vw - 665px) / 2);
        padding-right: calc((100vw - 560px) / 2);
    }
    
}

@media (max-width: 620px) {
    .mobile-top-bar {
        padding: 0 15px;
    }
    .mobile-top-bar .notification {
        margin-right: 5px;
    }
    .mobile-top-bar .create {
        margin-left: 5px;
    }
}

