#cookie-modal {
    border: none;
    border-radius: 12px;
    padding: 24px;
    width: 360px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    margin: 0;
        background-color:#FBFBFB ;

}

#cookie-modal::backdrop {
    background: transparent;
}

.cookie-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 15px;
}

#cookie-modal p {
    font-size: 13px;
    color: #555;
    margin-bottom: 16px;
    line-height: 1.5;
}

.cookie-actions {
    display: flex;
    gap: 8px;
}

.cookie-actions button {
    flex: 1;
    padding: 8px 0;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

#accept-cookies {
    background: #5063F9;
    color: white;
}

#decline-cookies {
    background: #efefef;
    color: #262626;
}