.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* =========================
   NAV STRUCTURE
========================= */

nav {
    display: flex;
    position: fixed;
    width: 338px;
    border-right: 1px solid #dbdbdb;
    flex-direction: column;
    height: 100%;
    z-index: 150;
}

/* =========================
   LOGO & ICONS
========================= */
nav img.logo {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

nav img.icon.home {
    width: 26px;
    height: 26px;
    transform: translateY(-4px);
}

nav img.icon.search,
nav img.icon.notifications {
    width: 25px;
    height: 25px;
    transform: translateY(-1px);
}

nav img.icon.explore
{
    width: 29px;
    height: 29px;
    transform: translate(-1px, -1px);
}



nav img.icon.create {
    width: 30px;
    height: 30px;
    transform: translate(-1px, -3px);
}

nav img.icon.profile {
    width: 35px;
    height: 35px;
    transform: translate(-2px, -3px);
    border-radius: 50%;
    border: 1px solid #dbdbdb;

}

img.home.icon.black {
    display: none;
    margin: 40px 0 40px 40px;
    width: 45px;
    height: 45px;
    transform: translate(-9px, -3px);
}

/* =========================
   TEXT / SPANS
========================= */
span.icon.home {
    transform: translateY(-3px);
}

span.icon.create {
    transform: translate(-5px, -1px);
}

span.icon.nav {
    margin-left: 15px;
}

span.icon.profile {
    transform: translateX(-8px);
    margin-bottom: 2px;
}

/* =========================
   LIST & LINKS
========================= */
nav ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
    transform: translateY(2px);
}

nav li {
    display: inline-flex;
    width: 100%;
    font-weight: 500;
}

nav a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* =========================
   LINK AREAS
========================= */
.link-area {
    display: flex;
    align-items: center;
    pointer-events: auto;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 30px;
}

.link-area.home { padding: 14px 201px 5px 10px; }
.link-area.search { padding: 11px 194px 8px 10px; }
.link-area.explore { padding: 11px 192px 8px 10px; }
.link-area.notifications { padding: 11px 159px 8px 10px; }
.link-area.create { padding: 13px 194px 6px 10px; }
.link-area.profile { padding: 12px 191px 5px 10px; }

.link-area:hover,
.link-area-hamburger:hover {
    background-color: #ececec;
}



/* =========================
   CORNER / MORE MENU
========================= */
.corner {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 20px;
    z-index: 10;
}

img.icon.more {
    width: 30px;
    height: 30px;
}

a.icon.more {
    display: flex;
    gap: 12px;
    margin-left: 31px;
    padding: 10px 0px 9px 10px;
    border-radius: 8px;
    text-decoration: none;
}

span.icon.more {
    transform: translateY(8px);
    color: black;
    padding-right: 206px;
}

a.icon.more:hover {
    background-color: #ececec;
}

/* =========================
   HAMBURGER MENU
========================= */
div.hamburger {
    display: none;
    position: absolute;
    bottom: 77px;
    left: 38px;
    width: 235px;
    height: 120px;
    border-radius: 13px;
    background: #fafafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

div.hamburger ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    list-style: none;
    z-index: 200;
}

div.hamburger li {
    padding: 4px 0 2px;
}

div.hamburger a {
    text-decoration: none;
    color: black;
}

div.hamburger img.icon.report {
    width: 28px;
    height: 28px;
}

.link-area-hamburger.report {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 5px;
    width: 224px;
    padding: 15px 0 15px 7px;
    border-radius: 13px;
}

.link-area-hamburger.logout {
    display: flex;
    position: relative;
    bottom: 20px;
    align-items: center;
    margin-left: 5px;
    width: 224px;
    padding: 15px 0px 15px 53px;
    border-radius: 10px;
}


/* =========================
   RESPONSIVE NAV
========================= */
@media (max-width: 1920px) {
    nav, .corner { width: 245px; }
    .link-area.home { padding-right: 111px; }
    .link-area.search { padding-right: 105px; }
    .link-area.explore { padding-right: 102px; }
    .link-area.notifications { padding-right: 68px; }
    .link-area.create { padding-right: 102px; }
    .link-area.profile { padding-right: 100px; }
    span.icon.more { padding-right: 115px; }
}

@media (max-width: 1439px) {
    .logo { display: none; }
    img.home.icon.black { display: block; }
    nav, .corner { width: 107px; }
    span.icon { display: none; }

    .link-area.home,
    .link-area.search
    {
        padding-right: 10px;
    }

    .link-area.explore,
    .link-area.notifications
    {
        padding-right: 11px;
    }
    
    .link-area.create
    {
        padding-right: 8px;
    }


    .link-area.profile 
    {
        padding-right: 6px;
    }

    a.icon.more { padding-right: 9px; }

}


@media (max-width: 900px) 
{
    nav,
    .corner {
        display: none;
    }
}
