header
{
    display : flex;
    grid-column : 1 / -1; /* IMPORTANT : prend les 12 colonnes */
    align-items : center;
    justify-content : space-between;
    height : 60px;
    border-bottom: 1px solid #dbdbdb;
}

header img
{
    margin-top: 10px;
    width: 160px;
    height: 160px;
    object-fit: contain;  
    /* garde les proportions */
}

div.header-button
{
    display: flex;
    margin-right: 10px;
    gap: 10px;
}

button.header-button
{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    background: #B7C6FF;
    border: none; /* Enlève la bordure par défaut */
    outline: none; /* Enlève le contour au focus (optionnel) */
    color: #fafafa;
    font-weight: bold;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 4 / 10; /* IMPORTANT : prend les 12 colonnes */
    grid-row: 4/8;
    width: 400px;
    height: 500px;
    justify-self: center;
    border: 1px solid #dbdbdb;
}

main img.padlock
{
    margin-top: 20px;
    margin-bottom: 10px;

    width: 100px;
    height: 100px;
    object-fit: contain;
}

p.padlock1
{
    font-weight: bold;
}

p.padlock2
{
    font-size: 14px;
}

/* OR delimitation */

.or 
{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.left.or
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border-bottom: 1px solid #ddd;
}

span.or
{
    padding: 0 10px; color: #666;
    font-weight: bold;
}

.right.or
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border-bottom: 1px solid #ddd;
}