header
{
    display: flex;
    background: blueviolet;
    grid-column: 1 / -1; /* IMPORTANT : prend les 12 colonnes */
    align-items:center;
    justify-content: space-between;
    height: 60px;
}

header img
{
    width: 100px;
    height: 100px;
    object-fit: contain;  /* garde les proportions */
}

main
{
    grid-column: 4 / 9; /* IMPORTANT : prend les 12 colonnes */
    background-color: red;
    width: 400px;
    height: 500px;
}

main img.padlock
{
    width: 100px;
    height: 100px;
    object-fit: contain;
}