header
{
    display : flex;
    grid-column : 1 / -1; /* IMPORTANT : prend les 12 colonnes */
    align-items : center;
    justify-content : space-evenly;
    gap: 105px;
    height : 60px;
    border-bottom: 1px solid #dbdbdb;
}

header img
{
    margin-top: 5px;
    width: 170px;
    height: 170px;
    object-fit: contain;  
    /* garde les proportions */
}

div.header-button
{
    display: flex;
    margin-right: 25px;
    gap: 20px;
}

div.header-button a
{
    margin-top: 4px;
    text-decoration: none;
    font-size: 15px;
    color :#5063F9;
}

div.header-button a:hover
{
    text-decoration: underline;
}

button.header-button
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 6px;
    border-radius: 10px;
    background: #5063F9;
    border: none; /* Enlève la bordure par défaut */
    outline: none; /* Enlève le contour au focus (optionnel) */
    color: #fafafa;
    font-weight: bold;
    font-size: 15px;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 4 / 10; /* IMPORTANT : prend les 12 colonnes */
    grid-row: 5/8;
    width: 400px;
    height: 510px;
    justify-self: center;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

main img.padlock
{
    margin-top: 25px;
    margin-bottom: 12px;

    width: 100px;
    height: 100px;
    object-fit: contain;
}

p.padlock1
{
    font-weight: bold;
    margin-bottom: 8px;
}

p.padlock2,
p.padlock3
{
    font-size: 14px;
    color: #666666;
}

p.padlock3
{
    margin-bottom: 10px;
}

button.login-link
{
    background: #B7C6FF;
    width: 290px;
    padding-top: 8px;
    padding-bottom: 7px;
    border-radius: 8px;
    border: none;
    color :#fafafa;
    font-weight: bold;
    margin-bottom: 10px;
}



/* OR delimitation */

.or 
{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 9px;

}

.left.or
{
    width: 130px;
    background: #ddd;
    height: 1px;
    transform: translateY(-px);
}

span.or
{
    padding: 0 10px;
    color: #666;
    font-weight: bold;
}

.right.or
{
    width: 130px;
    background: #ddd;
    height: 1px;
    transform: translateY(-1px);
}

a.create-account
{
    text-decoration: none;
    color: #262626;
    font-size: 14px;
}

a.create-account:hover
{
    text-decoration: underline;
}


a.login-back
{
    font-size: 15px;
    text-decoration: none;
    color: #262626;
    transform: translateY(1px);
}

a.login-back:hover
{
    text-decoration: underline;
}

a.reset-password
{
    text-decoration: none;
    font-size: 13px;
    color :  #1557d2;
}


main input
{
    width: 290px;
    padding: 9px 0 7px 8px;
    border: 1px solid #dbdbdb; 
    border-radius: 3px;
    outline: none; 
    margin-bottom: 13px;
}

div.bottom
{
    display: flex;
    width: 100%;
    height: 45px;
    background: #F0F0F0;
    border-top: 1px solid #dbdbdb;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}