header
{
    display : flex;
    background : blueviolet;
    grid-column : 1 / -1; /* IMPORTANT : prend les 12 colonnes */
    align-items : center;
    justify-content : space-between;
    height : 60px;
}

header img
{
    width: 100px;
    height: 100px;
    object-fit: contain;  
    /* garde les proportions */
}

div.header-button
{
    display: flex;
    margin-right: 10px;
    gap: 10px;
}

button.header-button
{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    background: #B7C6FF;
    border: none; /* Enlève la bordure par défaut */
    outline: none; /* Enlève le contour au focus (optionnel) */
    color: #fafafa;
    font-weight: bold;
}

main
{
    grid-column: 4 / 10; /* IMPORTANT : prend les 12 colonnes */
    background-color: red;
    width: 400px;
    height: 500px;
    justify-self: center;
    align-self: center;
}

main img.padlock
{
    width: 100px;
    height: 100px;
    object-fit: contain;
}