header
{
    display : flex;
    grid-column : 1 / -1;
    align-items : center;
    justify-content : space-evenly;
    gap: 105px;
    height : 60px;
    border-bottom: 1px solid #dbdbdb;
}

header img
{
    margin-top: 5px;
    width: 170px;
    height: 170px;
    object-fit: contain;  
}

div.header-button
{
    display: flex;
    margin-right: 25px;
    gap: 5px;
}

header a.text
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-decoration: none;
    font-size: 15px;
    color :#5063F9;
    transform: translateY(1px);
}

header a.text:hover
{
    text-decoration: underline;
}

header a.button
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    border-radius: 10px;
    background: #5063F9;
    border: none; 
    outline: none;
    color: #fafafa;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 4 / 10;
    grid-row: 5;
    align-self: start;
    width: 380px;
    min-height: 310px;
    height: auto;
    padding-top: 5px;
    justify-self: center;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.title-reset 
{
    font-size: 16px;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #262626;
    text-align: center;
}

.description-reset 
{
    font-size: 14px;
    color: #8e8e8e;
    line-height: 1.4;
    padding: 0 40px;
    margin-bottom: 15px;
    text-align: center;
}

input#pass1
{
    margin-bottom: 12px;
}

input#pass2
{
    margin-bottom: 12px;
}

main input 
{
    width: 270px;
    padding: 9px 0 7px 8px;
    border: 1px solid #dbdbdb; 
    border-radius: 3px; 
    outline: none; 
}

button
{
    background: #B7C6FF;
    width: 270px;
    padding-top: 9px;
    padding-bottom: 7px;
    border-radius: 8px;
    border: none;
    color :#fafafa;
    font-weight: bold;
    margin-bottom: 10px;
}

p.error
{
    display: none;
    margin-left: 9px;
    margin-top: 5px;
    margin-bottom: 2px;
    color : #ED4956;
    font-size: 13px;
    width: 268px;
}

p.errorMatch
{
    display: none;
    margin-left: 9px;
    color : #ED4956;
    font-size: 13px;
    width: 268px;
}


form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

button.login-link.active 
{
    background: #5063F9;
    cursor: pointer;
}


@media (max-height: 630px)
{
    footer
    {
        display: none;
    }
}
