* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body
{

    height: 100vh;
    background-color:#FBFBFB ;
}

main
{
    margin-left: 338px;
    padding-top: 50px;
}

img.profile-avatar
{
    border-radius: 50%;
}

header
{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: red;
}

div.user-info
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

div.user-actions
{
    display: flex;
    gap: 20px;
    background: green;
    justify-content: center;
    margin-top: 10px;
}


span.fullname
{
    font-weight: bold;
    font-size: 22px;
}



@media (max-width: 1920px) 
{
    main
    {
        margin-left: 245px;
    }
}

@media (max-width: 1439px)
{
    main
    {
        margin-left: 107px;
    }
}


@media (max-width: 900px) 
{
    main
    {
        margin-left: 0px;
    }
}