#search-bar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 460px;
    height: 100vh;
    border-right: 1px solid #dbdbdb;
    background: #FBFBFB;
    flex-direction: column;
    z-index: 100;
}

h2
{
    margin-top: 40px;
    margin-left: 40px;

}

.search-cross
{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    height: 16px;
    object-fit: contain;
}


.search-input-container {
    display: flex;
    justify-content: center;
}

#search-input {
    width: 400px;
    padding-top: 10px; /* padding-right pour la croix */
    padding-right: 40px ;
    padding-bottom: 10px;
    padding-left: 16px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: #F3F5F7;
    outline: none;
    color: #0E1316;
    margin-top: 40px;
}