#search-bar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 460px;
    height: 100vh;
    border-right: 1px solid #dbdbdb;
    background: #FBFBFB;
    flex-direction: column;
    z-index: 100;
}

h2
{
    margin-top: 40px;
    margin-left: 40px;

}

.search-cross
{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    height: 16px;
    object-fit: contain;
}


.search-input-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    padding-left: 30px;
}

.icon.search-gray {
    position: absolute;
    left: 44px;
    top: 60px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
    opacity: 0.5;
}

#search-input {
    width: 400px;
    padding-top: 13px;
    padding-right: 40px ;
    padding-bottom: 10px;
    padding-left: 40px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    background-color: #F3F5F7;
    outline: none;
    color: #0E1316;
    margin-top: 40px;
    margin-bottom: 13px;
}


.search-cross-surronded {
    position: absolute;
    left: 400px;
    top: 60px;
    transform: translateY(-50%);
    width: 21px;
    height: 21px;
    cursor: pointer;
    opacity: 0.6;
}



#search-results {
    position: relative;
    flex: 1;
    overflow-y: auto;
}


/* Item de résultat */
.search-result-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding-top: 17px;
    padding-left: 30px;
    padding-right: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-result-item:hover {
    background-color: #fafafa;
}

/* Avatar */
.search-result-avatar {
    width: 44px !important;
    height: 44px !important;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    border: 1px solid #dbdbdb;
}

/* Info container */
.search-result-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    min-width: 0;
    padding-top: 5px;
}


/* Message quand vide */
.search-empty {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #8e8e8e;
    font-size: 14px;
}


/* Username */
.search-result-username {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Full name (gris en dessous) */
.search-result-fullname {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 900px) {
    #search-bar {
        width: 100%;
        z-index: 200;
    }
}