/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Padding included in boxe size  */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body
{
    height: 100vh;  /* hauteur minimale du body = 100 % de la hauteur de l’écran */
    background-color:#FBFBFB ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0;
}

